*, *:before, *:after {
  box-sizing: border-box
}

html, body {
  font-family: sans-serif;
  color: #565656;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6,p,a {
  padding: 0.2rem 0;
  margin: 0;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

p {
  margin: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

button, select, input {
  font-size: 1.2rem;
}

#msgBox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  color: 	#fefefe;
  width: 100%;
  height: 4rem;
  background-color: #FFA500;
  text-align: center;
}

#heading {
  padding-top: 2rem;
}

#logo {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  font-weight: bold;
  color: #ff8800;
  text-align: center;
}

#options {
  display: flex;
  width: 80%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem auto;
  border: 1px solid rgba(0, 0, 0, 0.32);
  border-radius: 5px;
  box-shadow: 0 2px 12px 0px rgba(0,0,0,0.2);
}

.select__image, .select__music, .select__mode, .select__smoothing, .preview, .output {
  width: 50%;
  text-align: center;
}

.download {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

#msg {
  display: inline-block;
  font-size: 1.6rem;
}

#graph {
  width: 100%;
  height: 100%;
  display: block;
  background-color: black;
}

#imageFile, #audioFile {
  display: none;
}

#imageLabel, #audioLabel {
  display: block;
  background: #e2e2e2;
  border: 1px solid rgba(0, 0, 0, 0.32);
  cursor: pointer;
  padding: 2rem;
  margin: 0 auto;
  width: 18rem;
  text-align: center;
  transition: all 0.5s;
}

#imageLabel:focus, #audioLabel:focus {
  outline: none;
}

#imageLabel:hover, #audioLabel:hover {
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.preview{
  margin: 0 auto;
}

#mode, #smoothing {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: #e2e2e2 url(./img/arrow.png) no-repeat center right 8px/20px 14px;
  border: 1px solid rgba(0, 0, 0, 0.32);
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  display: block;
  margin: 0 auto;
  text-align: center;
  transition: all 0.5s;
}

#mode {
  width: 17rem;
}

#smoothing {
  width: 5rem; 
}

#mode:hover, #smoothing:hover {
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
}

#mode::-ms-expand, #smoothing::-ms-expand{
  display: none;
}

#playSound, #recordMovie, #downloadLink {
  display: inline-block;
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: none;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  padding: 0.6rem 2rem;
  margin: 0 auto;
  text-align: center;
  transition: all 0.5s;
}

#playSound:focus, #recordMovie:focus #downloadLink:focus{
  outline: none;
}

#playSound:hover, #recordMovie:hover #downloadLink:hover{
  background-color: rgba(0, 0, 0, 0.3);
}

#playSound::-moz-foucus-inner , #recordMovie::-moz-foucus-inner {
  border: none;
  padding: 0;
}

#playSound[disabled], #recordMovie[disabled], #downloadLink[disabled] {
  background:#DCDCDC;
  cursor:not-allowed; /* 禁止カーソル */
}

@media (max-width: 768px) {
  #logo {
    font-size: 2rem;
  }
  #imageLabel, #audioLabel {
    width: 13rem;
  }
  #mode {
    width: 13rem;
  }
  #graph {
    height: 570px;
  }
}

@media (max-width: 576px) {
  #options {
    flex-direction: column;
  }
  .select__image, .select__music, .select__mode, .select__smoothing, .preview, .output {
    width: 100%;
    text-align: center;
  }
}

/* animation */
.fade {
  opacity: 0;
  transition: all 0.5s ease;
}
 
.fade.show {
  opacity: 1;
  transform: none;
}
